@media screen and (max-width: 1600px){
    .products_catalog{
        grid-template-columns: 175px 175px 175px 175px;
    }
    .container{
        max-width: 1300px;
    }
}

@media screen and (max-width: 1400px){
    .products_catalog{
        grid-template-columns: 175px 175px 175px;
    }
    .container{
        max-width: 1100px;
    }
    .card_info_list_age_rating_block{
        font-size: 16px;
    }
    .all_characters_container{
        grid-template-columns: repeat(5, 1fr);
    }
    .main_characters_img_block_fade {
        margin-left: 215px;
    }
}

@media screen and (max-width: 1250px){
    .you_container {
        flex-direction: column-reverse;
        row-gap: 15px;
    }
    .you_container_dop {
        width: 100%;
    }
    .comment_user_image{
        width: 60px;
        height: 60px;
    }
}

@media screen and (max-width: 1150px){
    .products_catalog{
        grid-template-columns: 150px 150px 150px;
    }
    .catalog{
        width: 100%;
    }
    .container{
        max-width: 875px;
        flex-direction: column;
    }
    .prod_element_pic_lock{
        height: auto;
    }
    .filter {
        position: relative;
        width: auto;
    }
    .filter_category_filter{
        width: 250px;
    }
    .card_info_list_age_rating_block{
        font-size: 16px;
    }
    .all_characters_container{
        grid-template-columns: repeat(4, 1fr);
    }
    .main_characters_img_block_fade {
        margin-left: 200px;
    }
    .dropdown-content{
        width: auto;
    }
    .card_container_main {
        padding: 15px 15px;
    }
    .comment_user_image{
        width: 50px;
        height: 50px;
    }
}

@media screen and (max-width: 900px){
    .container_d{
        flex-direction: column;
    }
    .catalog{
        align-items: center;
    }
    .products_catalog {
        grid-template-columns: 150px 150px 150px;
    }
    h5{
        font-size: 1.15rem;
    }
    .card_prew_pics {
        max-width: 80%;
    }
    .card_container_body {
        font-size: 14px;
    }
    p {
        margin-bottom: 0.25rem;
    }
    .card_info_list_age_rating_block{
        font-size: 16px;
    }
    .card_container_body_related_products{
        column-gap: 10px;
    }
    .related_products_card_img_block_right{
        padding: 5px 5px;
    }
    .related-product-link{
        font-size: 0.85rem;
    }
    .all_characters_card_img{
        height: 85%;
    }
    .all_characters{
        height: 200px;
    }
    .p_character{
        font-size: 16px;
        margin-top: -15px;
    }
    .other_character_wiki_button{
        width: 100px;
    }
    .main_characters_img_block_fade {
        margin-left: 170px;
    }
}

@media screen and (max-width: 730px){
    .catalog{
        align-items: center;
    }
    .products_catalog {
        grid-template-columns: 135px 135px 135px;
    }
    .card_container_body_frames_list {
        height: auto;
    }
    .btn_logo {
        margin-right: 0;
        width: auto;
    }
    .card_info_list_font {
        font-weight: 400;
        font-size: 13px;
    }
    .card_header{
        width: 90%;
    }
    .card_info {
        padding: 5px 5px;
    }
    .card_container_header {
        grid-template-columns: auto auto;
    }
    .card_container_body {
        font-size: 13px;
    }
    .card_info_list_age_rating_block{
        font-size: 14px;
        
        width: 35px;
        height: 22px;
    }
    .card_container_body_related_products{
        display: flex;
        flex-direction: column;
    }
    .p_character_big {
        font-size: 28px;
        font-weight: 600;
    }
    .all_characters_container {
        column-gap: 5px;
    }
    .main_characters_img_block_fade {
        margin-left: 150px;
    }
    h5 {
        font-size: 1rem;
    }
    .other_character_wiki_button{
        width: 80px;
    }
    .you_container_dop_block_text{
        margin-top: 5px;
    }
    .star_display_item {
        font-size: 24px;
        align-content: center;
    }
    .star-icon {
        font-size: 24px;
        align-content: center;
    }
    .star {
        font-size: 24px;
        align-content: center;
    }
    .comment_user_image{
        width: 40px;
        height: 40px;
    }
    h1{
        font-size: calc(1rem + 1.5vw);;
    }
    .btn_logo{
        font-size: 150%;
    }
}
@media screen and (max-width: 650px){
    .card_info_list_font {
        font-size: 12px;
    }
    .card_info_list_age_rating_block{
        width: 32px;
        height: 20px;
    }
    .main_characters_img_block_fade {
        margin-left: 133.5px;
    }
    .p_character_big {
        font-size: 26px;
    }
    h5 {
        font-size: 0.95rem;
    }
    .you_container_dop_block_header{
        column-gap: 30px;
    }
    .all_comments_container_block_header{
        column-gap: 20px;
    }
    .all_comments_container_block_header_username{
        font-size: 18px;
    }
    .all_characters_container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 550px){
    .main_characters{
        flex-direction: column;
    }
    .main_characters_img_block{
        width: 100%;
    }
    .main_characters_block_right{
        width: 100%;
    }
    .main_characters_img_block_fade {
        display: none;
    }
    .products_catalog {
        grid-template-columns: 125px 125px 125px;
    }
    .other_character_wiki_button{
        width: 70px;
    }
    .you_container_dop_block_header{
        flex-direction: column;
    }
    .all_comments_container_block_header {
        flex-direction: column;
        column-gap: 10px;
    }
    .all_comments_container_block_header_block{
        column-gap: 10px;
    }
    .all_comments_container_block{
        min-width: auto;
    }
    .card_container_header {
        grid-template-columns: auto;
    }
    .card_header {
        width: 100%;
        margin-bottom: 10px;
    }
    .header{
        flex-direction: column;
        justify-content: center;
        column-gap: 5px;
        height: 80px;
    }
}

@media screen and (max-width: 500px){
    .login_status_bar {
        flex-direction: column;
        row-gap: 10px;

        padding-bottom: 10px;
    }
    .header {
        flex-direction: column;
        justify-content: center;
        column-gap: 5px;
        height: 250px;
    }
    .products_catalog {
        grid-template-columns: 150px 150px;
    }
}

@media screen and (max-width: 400px){
    .star_display_item {
        font-size: 18px;
    }
    .star-icon{
        font-size: 18px;
    }
    .star{
        font-size: 18px;
    }
    .you_container_button{
        font-size: 14px;
    }
    .you_container_button_delete{
        font-size: 14px;
    }
    .products_catalog {
        grid-template-columns: 110px 110px;
    }
}