@media screen and (max-width: 1600px){
    .container{
        max-width: 1300px;
    }
    .catalog {
        margin: 25px auto 25px 25px;
        margin-right: auto;
    }
}

@media screen and (max-width: 1400px){
    .container{
        max-width: 1100px;
    }
    .card_info_list_age_rating_block{
        font-size: 16px;
    }
    .all_characters_container{
        grid-template-columns: repeat(5, 1fr);
    }
    .main_characters_img_block_fade {
        margin-left: 215px;
    }
}

@media screen and (max-width: 1250px){
    .you_container {
        flex-direction: column-reverse;
        row-gap: 15px;
    }
    .you_container_dop {
        width: 100%;
    }
    .comment_user_image{
        width: 60px;
        height: 60px;
    }
    .hidden_description{
        -webkit-line-clamp: 4;
    }
}

@media screen and (max-width: 1150px){
    /* .catalog{
        width: auto;
    } */
    .container{
        max-width: 875px;
        flex-direction: column;
    }
    .filter {
        position: initial;
        margin: 0 auto;
        margin-top: 25px;
    }
    .filter_blocks_grid{
        margin: 0;
    }
    .filter_form{
        margin-top: 60px;
    }
    .filter_category_filter{
        width: 250px;
    }
    .dropdown-toggle{
        width: 250px;
    }
    .arrow{
        right: auto;
        margin-left: 228px;
    }
    .card_info_list_age_rating_block{
        font-size: 16px;
    }
    .all_characters_container{
        grid-template-columns: repeat(4, 1fr);
    }
    .main_characters_img_block_fade {
        margin-left: 200px;
    }
    .dropdown-content{
        width: 250px;
    }
    .card_container_main {
        padding: 15px 15px;
    }
    .comment_user_image {
        width: 50px;
        height: 50px;
    }
    .dropdown-content-linear-gr {
        width: calc(250px - 2px);
    }
    .prod_element_pic_lock{
        align-items: center;
    }
}

@media screen and (max-width: 900px){
    .container_d{
        flex-direction: column;
    }
    .catalog{
        align-items: center;
        width: auto;
        margin: 15px;
    }
    .products_catalog {
        width: 100%;
    }
    h5{
        font-size: 1.15rem;
    }
    .card_prew_pics {
        max-width: 80%;
    }
    .card_container_body {
        font-size: 14px;
    }
    p {
        margin-bottom: 0.25rem;
    }
    .card_info_list_age_rating_block{
        font-size: 16px;
    }
    .card_container_body_related_products{
        column-gap: 10px;
    }
    .related_products_card_img_block_right{
        padding: 5px 5px;
    }
    .related-product-link{
        font-size: 0.85rem;
    }
    .all_characters_card_img{
        height: 85%;
    }
    .all_characters{
        height: 200px;
    }
    .p_character{
        font-size: 16px;
        margin-top: -15px;
    }
    .other_character_wiki_button{
        width: 100px;
    }
    .main_characters_img_block_fade {
        margin-left: 170px;
    }
    .catalog {
        width: 100%;
        margin: 0;
        border: 0;
        border-radius: 0;
    }
    /* .prod_element_pic_lock{
        height: 200px;
    } */
    .prod_element_pic_lock {
        max-height: 300px;
    }
}

@media screen and (max-width: 730px){
    .catalog{
        align-items: center;
    }
    /* .products_catalog {
        grid-template-columns: 135px 135px 135px !important;
    } */
    .card_container_body_frames_list {
        height: auto;
    }
    .btn_logo {
        margin-right: 0;
        width: auto;
    }
    .card_info_list_font {
        font-weight: 400;
        font-size: 13px;
    }
    .card_header{
        width: 90%;
    }
    .card_info {
        padding: 5px 5px;
    }
    .card_container_header {
        grid-template-columns: auto auto;
    }
    .card_container_body {
        font-size: 13px;
    }
    .card_info_list_age_rating_block{
        font-size: 14px;
        
        width: 35px;
        height: 22px;
    }
    .card_container_body_related_products{
        display: flex;
        flex-direction: column;
    }
    .p_character_big {
        font-size: 28px;
        font-weight: 600;
    }
    .all_characters_container {
        column-gap: 5px;
    }
    .main_characters_img_block_fade {
        margin-left: 150px;
    }
    h5 {
        font-size: 1rem;
    }
    .other_character_wiki_button{
        width: 80px;
    }
    .you_container_dop_block_text{
        margin-top: 5px;
    }
    .star_display_item {
        font-size: 24px;
        align-content: center;
    }
    .star-icon {
        font-size: 24px;
        align-content: center;
    }
    .star {
        font-size: 24px;
        align-content: center;
    }
    .comment_user_image{
        width: 40px;
        height: 40px;
    }
    h1{
        font-size: calc(1rem + 1.5vw);;
    }
    .btn_logo{
        font-size: 150%;
    }
}
@media screen and (max-width: 650px){
    .header{
        flex-direction: column;
        height: 100px;

        align-items: start;
        padding-left: 20px;
    }
    .header div{
        padding-left: 10px;
    }
    .filter{
        margin-top: 100px;
        align-items: center;
    }
    .login_button{
        height: 50px;
    }
    .login_container{
        margin-top: 100px;
    }
    .card_info_list_font {
        font-size: 12px;
    }
    .card_info_list_age_rating_block{
        width: 32px;
        height: 20px;
    }
    .main_characters_img_block_fade {
        margin-left: 133.5px;
    }
    .p_character_big {
        font-size: 26px;
    }
    h5 {
        font-size: 0.95rem;
    }
    .you_container_dop_block_header{
        column-gap: 30px;
    }
    .all_comments_container_block_header{
        column-gap: 20px;
    }
    .all_comments_container_block_header_username{
        font-size: 18px;
    }
    .all_characters_container {
        grid-template-columns: repeat(3, 1fr);
    }
    .season_info{
        padding: 0;
    }
}

@media screen and (max-width: 550px){
    .main_characters{
        flex-direction: column;
    }
    .main_characters_img_block{
        width: 100%;
    }
    .main_characters_block_right{
        width: 100%;
    }
    .main_characters_img_block_fade {
        display: none;
    }
    .other_character_wiki_button{
        width: 70px;
    }
    .you_container_dop_block_header{
        flex-direction: column;
    }
    .all_comments_container_block_header {
        flex-direction: column;
        column-gap: 10px;
    }
    .all_comments_container_block_header_block{
        column-gap: 10px;
    }
    .all_comments_container_block{
        min-width: auto;
    }
    .card_container_header {
        grid-template-columns: auto;
    }
    .card_header {
        width: 100%;
        margin-bottom: 10px;
    }
    .header{
        flex-direction: column;
        justify-content: center;
        row-gap: 5px;
    }
}

@media screen and (max-width: 500px){
    .login_status_bar {
        row-gap: 10px;

        padding-bottom: 10px;
    }
    .header {
        flex-direction: column;
        justify-content: center;
    }
    /* .products_catalog {
        grid-template-columns: 150px 150px !important;
    } */
    .filter {
        width: auto;
    }
    .login_container{
        min-width: 250px;
        margin-top: 80px;
    }
    .logout_btn{
        width: 50px;
        height: 25px;
        font-size: 10px;
        padding: 0;
        align-content: center;
    }
    .products_catalog{
        padding: 20px 5px 5px 5px;
        column-gap: 10px;
    }
}

@media screen and (max-width: 400px){
    .star_display_item {
        font-size: 18px;
    }
    .star-icon{
        font-size: 18px;
    }
    .star{
        font-size: 15px;
    }
    .you_container_button{
        font-size: 14px;
    }
    .you_container_button_delete{
        font-size: 14px;
    }
    .products_catalog {
        /* grid-template-columns: 110px 110px !important; */
        width: 98%;
        row-gap: 15px;
        padding: 5px 2px 2px 2px;
    }
    .header {
        width: 100%;
        height: 70px;
    }
    .login_button {
        height: 30px;
    }
    .header div{
        column-gap: 5px;
    }
    .btn_logo {
        font-size: 100%;
    }
    .header div {
        padding: 0;
    }
    .login_status_bar_block img{
        width: 25px !important;
        height: 25px !important;
    }
    .login_status_bar_text{
        font-size: 15px;
        padding: 0 5px;
    }
    .header_change_style_button img{
        width: 18px !important;
    }
    .header_change_style_button{
        width: auto;
    }
    .card_container_main {
        width: 100%;
        border: 0;
        border-radius: 0;
        row-gap: 10px;
        margin-bottom: 0;
    }
    .card_container_header {
        grid-template-columns: 100px auto;
    }
    .card_header img {
        position: sticky;
        top: 90px;
    }
    .card_info_list {
        padding-top: 10px;
    }
    .card_info_rating img {
        width: 25px !important;
        height: 20px !important;
    }
    .swiper-slide img{
        height: 100px;
    }
    h1, h2, h3, h4{
        font-size: calc(0.8rem + 1.5vw);
    }
    p{
        font-size: 10px;
    }
    .card_info_list_font{
        font-size: 10px;
    }
    .card_info_list_age_rating_block{
        font-size: 10px;
        width: 30px;
        height: 18px;
    }
    .star-rating{
        margin-top: -2px;
    }
    .filter {
        margin-top: 30px;
        align-items: center;
    }
    br {
        content: "";
        display: block;
        margin-bottom: 10px;
    }
    input[type="checkbox"] {
        border: 1px solid #444;
    }
    .dropdown-content-linear-gr{
        display: none !important;
    }
    .login_container{
        margin-top: 50px;
    }
    .auth_button{
        font-size: 15px;
    }
    .prod_element_pic_lock{
        max-height: 500px;
        min-width: 80px;
    }
    .all_comments_dop_line{
        margin: 0 20px 0 15px;
    }
    .answer::after{
        width: 55px;
    }
    .card_product_mp3_button img{
        height: 20px !important;
    }
    .card_product_mp3 {
        position: sticky;
        top: 240px;
    }
    .hidden_description{
        -webkit-line-clamp: 2;
    }
    .swiper-slide img:hover {
        height: 115px;
    }
    .star_list_block_number{
        display: block !important;
    }
    .star_list_block{
        display: none !important;
    }
    h8{
        font-size: 0.9rem;
    }
}