html {
  scrollbar-width: none;
  -ms-overflow-style: none;

  height: 100%;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
}


p{
    margin-bottom: 0.5rem;
}

/* fonts */
.font16{
    font-size: 16px;
    font-weight: 400;
}

.font18{
    font-size: 18px;
    font-weight: 400;
}

.font24{
    font-size: 24px;
    font-weight: 400;
}

/* ----- */

body{
    /* background: url("../img/fon2.jpg"); */
    background-size: 100%;
    background: rgb(20, 20, 20);

    display: flex;
    flex-direction: column;

    width: 100%;
    min-height: 100vh;
    height: auto;
}

.main_items_background{
    background-color: rgba(30, 30, 30);
    
    border: 1px solid rgb(60, 60, 60);
    border-radius: 10px;

    color: rgb(200, 200, 200);
}

main{
    margin-top: 50px;
}

.header{
    width: 100%;
    /* background: url("../img/dot.png"); */
    /* background-size: 0.5%; */

    position: fixed;

    height: 50px;

    display: flex;
    flex-direction: row;

    justify-content: space-around;

    align-items: center;

    border: none;
    border-radius: 0;
    border-bottom: 1px solid rgb(60, 60, 60);
    z-index: 9999;
}

.btn-auto{
    height: 40px;
}

.btn_logo{
    background: none;
    height: 100%;
    /* width: 200px; */

    text-decoration: none;
    color: white;
    align-content: center;
    
    /* margin-right: 100px; */
    font-size: 180%;
}

.header_change_style_button{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 50px;

    padding-right: 5px;

    /* border: 1px solid white; */
}


.main_container{
    width: 100%;
    height: 100%;
}

.container_d{
    display: flex;
    flex-direction: row-reverse;

    column-gap: 20px;
    max-width: 1500px;

    margin: 0 auto;
}

.catalog{
    margin: 25px 0;
    padding: 3px 0;

    display: flex;
    flex-direction: column;

    justify-content: center;

    text-align: center;

    width: auto;
    height: 100%;

    color: rgb(200, 200, 200);
}

.nice_info{
    position: absolute;
    background: none;
    margin-top: -28px;
    text-align: left;
}

.nice_info_piece{
    border-radius: 3px;
}

.filter{
    margin-top: 25px;

    display: flex;
    flex-direction: column;

    text-align: center;

    width: 450px;
    height: 100%;

    color: rgb(200, 200, 200);
}

.filter_form{
    padding: 10px 10px ;

    border-radius: 3px;
}

.products_catalog{
    align-content: center;

    display: grid;

    grid-auto-flow: row;

    row-gap: 15px;
    column-gap: 15px;
    grid-template-columns: 175px 175px 175px 175px 175px;

    padding: 30px 20px 20px 20px;
    row-gap: 20px;
}

.filter_category{
    display: flex;
    flex-direction: row;
}

.prod_element{
    display: flex;
    flex-direction: column;

    text-align: left;

    background: none;

    width: 100%;
    height: 100%;

    cursor: pointer;
}

.prod_element_rating{
    position: absolute;
 
    width: 45px;
    height: 25px;
}

.prod_element_rating_block{
    margin-top: 3px;
    margin-left: -5px;

    width: 100%;
    height: 100%;

    background-color: rgb(255, 217, 0);

    color: black;
    padding-left: 12px;
    font-weight: 600;

    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}
.prod_element_rating_block_dop{    
    width: 10px;
    height: 10px;   

    rotate: -45deg;

    margin-top: -7px;

    background-color: orange;
}
.prod_element_rating_block_dop_main{
    width: 3px;
    height: 3px;

    margin-left: -5px;

    overflow: hidden;
}

.prod_element_pic_lock{
    height: 245px;

    align-content: center;

    overflow: hidden;

    border-radius: 5px;
}

/* Filter */

.filter_main{
    display: flex;
    flex-direction: column;

    align-items: center;
}

.filter_category_filter{
    width: 400px;

    background: none;

    padding: 3px 3px;

    border-radius: 10px;
    border: 1px solid rgb(60, 60, 60);

    color: rgb(200, 200, 200);
}

.find_by_name{
    padding: 3px 8px 1px 8px;
}

.find_by_name::placeholder{
    color: rgb(200, 200, 200);
}

.products_filter{
    display: flex;
    flex-direction: row;

    width: 100%;
    height: 200px;

    column-gap: 35px;
}

.products_filter_item{
    display: flex;
    flex-direction: row;

    column-gap: 8px;
    align-items: center;

    padding: 3px 10px 0 10px;

    width: auto;
    height: 50px;

    border: 1px solid rgba(200, 200, 200, 50%);
    border-radius: 10px;
    background-color: rgba(200, 200, 200, 50%);

    transition: 0.25s;
}

.products_filter_item:hover{
    cursor: pointer;

    border: 1px solid rgba(0, 0, 0, 25%);
    background-color: rgba(100, 100, 100, 50%);
}


.filter_input{
    width: 15px;
    height: 15px;

    accent-color:rgb(100, 100, 100);
}

/* ------ */



.form{
    display: flex;
    flex-direction: column;

    align-items: center;
    row-gap: 20px;
}

.form_div{
    display: flex;
    flex-direction: column;
}

.form_pag{
    display: grid;

    column-gap: 25px;

    align-items: center;

    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 300px;

    grid-auto-flow: row;
}

.add_product{
    width: auto;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: center;

    color: rgb(200, 200, 200);
}







.checkbox-item p {
    user-select: none;
    margin-bottom: 0;
}

.custom-dropdown {
    position: relative;
    width: 100%;
}

.dropdown-toggle {
    width: 400px;
    height: 50px;

    padding: 10px;

    border-radius: 10px;
    cursor: pointer;
    text-align: left;
}

.dropdown-toggle::after{
    display: none;
}

.dropdown-content {
    display: none;
    position: absolute;

    width: 400px;
    max-height: 500px;

    overflow-y: auto;

    z-index: 1000;

    margin-left: 15px;
    margin-top: 3px;

    scrollbar-width: none;
}

.checkbox-item {
    display: flex;
    justify-content: center;
    column-gap: 3px;

    text-align: center;
    align-items: center;

    padding: 8px 12px;
    cursor: pointer;

    background: var(--pseudo-bg-color,  rgb(30, 30, 30));
}

.checkbox-item:hover {
    background: var(--pseudo-bg-hover-color,  rgb(35, 35, 35));
}

input[type="checkbox"] {
    appearance: none;
    width: 10px;
    height: 10px;
    background: var(--pseudo-bg-checkbox-color, rgb(0, 0, 0));
    background-origin: border-box;
    border: 2px solid #444;
    border-radius: 1px;
    cursor: pointer;
}

input[type="checkbox"]:checked {
    background: var(--pseudo-bg-checked-color, rgb(200, 200, 200));
    border-color: rgb(30, 30, 30);
}



/* Иконка стрелки */
.arrow {
    float: right;
}

/* Отображение выбранных элементов в кнопке */
.selected-tags {
    display: inline-block;
    max-width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* AI */

.AI_button{
    display: block;
    position: fixed;

    width: 40px;
    height: 40px;

    margin-top: 80px;
    margin-left: 93%;

    border: 2px solid rgb(60, 60, 60);
    border-radius: 100%;
    
    background-color: rgb(30, 30, 30);

    color: rgb(200, 200, 200);
    font-size: 110%;

    cursor: pointer;
}

.AI_content{
    display: block;

    width: 650px;
    height: auto;
    min-height: 36px;

    border-radius: 10px 0 0 10px;
    border: 2px solid rgb(60, 60, 60);
    border-right: none;

    background-color: rgb(30,30,30);

    position: fixed;

    margin-top: 80px;
    margin-left: calc(100% - 650px);

    z-index: 1;
}

.hidden{
    display: none;
}

.content{
    margin-top: 0;
    margin-left: 0;

    border: 0;
    position: relative;
}

.send{
    position: relative;

    width: 33px;
    height: 33px;

    margin-top: 10px;
    margin-left: 0;

    border: 0;
}

.AI_user_message_block_text{
    width: calc(100% - 20px - 43px);
    min-height: 36px;
    max-height: 300px;
    resize: none;

    margin: 10px;
    padding: 5px;

    border: 1px solid rgb(60, 60, 60);
    border-radius: 10px;
    background-color: rgb(40, 40, 40);

    color: rgb(200, 200, 200);

}

.AI_content_chat{
    display: flex;
    flex-direction: column;

    row-gap: 10px;

    border: 0;

    border-radius: 10px;
    background-color: rgb(40, 40, 40);

    margin: 0 10px;
    padding: 10px;

    width: calc(100% - 20px);
    height: 400px;

    overflow-y: auto;
}

.child-person{
    /* margin-left: calc(100% - auto); */
    width: auto;
    height: auto;
    min-height: 24px;

    border: 0;
    border-radius: 10px;

    text-align: center;
    align-content: center;

    font-weight: 600;
    
    background-color: rgb(200, 200, 200);
}

.child-AI{
    color: white;
}

.Ai_clear_chat_button{
    display: block;
    position: relative;

    width: auto;
    height: auto;

    margin-top: 0;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 0%;

    border-radius: 10px;
    border-width: 1px;

    padding: 0 10px;
    color: rgb(200, 200, 200);
}

/* card */

.card_container_main{
    width: 85%;
    height: auto;

    display: flex;
    flex-direction: column;
    row-gap: 25px;

    padding: 20px 20px;
    
    margin: 25px auto;
}

.card_container_header{
    width: 100%;
    height: auto;

    display: grid;
    grid-template-columns: 250px auto;
}

.card_container_body{
    width: 100%;
    height: auto;
}

.card_header{
    height: auto;
}

.card_info{
    display: flex;
    flex-direction: column;

    width: auto;
    padding: 10px 25px;
}

.card_info_rating{
    display: flex;
    font-weight: 400;
}

.card_info_rating_10{
    height: 100%;
    font-size: 14px;

    align-content: end;
    color: rgb(150, 150, 150);
}

.card_info_linegap{
    width: auto;
    height: 1px;

    border-radius: 10px;

    background-color: rgb(60, 60, 60);
}

.card_info_list{
    padding-top: 25px;

    max-width: 900px;

    display: flex;
    flex-direction: column;
}

.card_info_list_font{
    width: 50%;
    color: rgb(200, 200, 200);
    font-weight: 400;
    font-size: 15px;

    text-align: start;
}

.gray_font{
    color: gray;
}

.card_info_list_block{
    display: flex;
    justify-content: space-between;
}

.card_info_list_age_rating_block{
    border: 1px solid rgb(100, 100, 100);
    border-radius: 3px;
    background-color: rgb(200, 200, 200);
    color: black;

    margin-right: auto;
    width: 40px;
    height: 25px;

    text-align: center;

    font-size: 16px;
    font-weight: 600;
}

.card_container_body_frames{
    display: flex;
    justify-content: space-between;
}


.card_container_body_frames_list{
    display: flex;
    
    column-gap: 20px;
    row-gap: 20px;

    width: 73%;
    height: 200px;

    overflow-x: scroll;
}

.card_container_body_frames_list::-webkit-scrollbar {
    height: 3px;
}

/*  Трек (дорожка) */
.card_container_body_frames_list::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}

/*  Бегунок (Thumb) */
.card_container_body_frames_list::-webkit-scrollbar-thumb {
    background: rgb(80, 80, 80); 
    border-radius: 10px;
}

.card_container_body_frames_list::-webkit-scrollbar-thumb:hover {
    background: #555;
}



.card_container_body_frames_name{
    display: flex;
    justify-content: space-between;
}

.card_container_body_related_products{
    display: grid;

    grid-auto-flow: column;

    row-gap: 15px;
    column-gap: 15px;
}

.card_prew_pics{
    max-width: 80%;

    height: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;

    cursor: pointer;
}

.related_products_card{
    display: flex;
    flex-direction: column;

    width: 100%;
}

.related_product_link{
    color: rgb(200, 200, 200);
}

.related_products_card_img_block{
    display: flex;
    column-gap: 3px;

    padding-top: 3px;
}

.related_products_card_img_block_right{
    display: flex;
    flex-direction: column;
    padding: 3px 10px;

    color: gray;
    font-size: 14px;
}

.trailer{
    display: flex;
    justify-content: center;

    width: 25%;
    height: auto;
}

.trailer_frame{
    width: 100%;
    height: 200px;
}


.login_button{
    background: none;
    border: none;

    align-items: center;
    align-content: center;

    text-decoration: none;

    color: rgb(200, 200, 200);

    height: 100%;


    display: flex;
}

.card_product_mp3{
    display: flex;
    flex-direction: column;

    width: auto;
    
    height: auto;
    margin: 3px 2.5px 0 2.5px;
    text-decoration: none;
}

.card_product_mp3_button{
    width: 100%;
    height: 40px;

    align-items: center;
    justify-content: center;

    font-size: 16px;
    font-weight: 600;
    
    color: rgb(175, 50, 50);

    display: flex;
}

.main_characters_container{
    display: flex;
    flex-direction: column;

    width: auto;

    column-gap: 10px;
    row-gap: 15px;
}

.main_characters{
    display: flex;
    flex-direction: row;
    
    width: 100%;
    height: auto;

    justify-content: space-between;

    border: 1px solid rgb(100, 100, 100);
    border-radius: 10px;

    text-align: center;

    overflow: hidden;
}

.main_characters_img_block{
    width: 320px; 
    height: 300px; 
    
    overflow: hidden; 
    
    display: flex; 
    justify-content: center;
}

.main_characters_img_block_fade{
    width: 100px;
    height: 300px;

    position: absolute;
    margin-left: 220px;

    background: linear-gradient(to right ,rgba(255, 255, 255, 0), rgb(30, 30, 30));
}

.main_characters_block_right{
    width: 75%;
    display: flex;
    flex-direction: column;

    text-align: center;

    justify-content: center;
}

.all_characters_container{
    display: grid;

    grid-template-columns: repeat(6, 1fr);
    row-gap: 10px;
    column-gap: 10px;
}

.all_characters{
    display: flex;
    flex-direction: column;
    
    width: auto;
    height: 250px;

    border: 1px solid rgb(100, 100, 100);
    border-radius: 10px;

    text-align: center;

    overflow: hidden;
}

.all_characters_card_img{
    height: 100%;
}

.p_character{
    font-size: 20px;
    font-weight: 600;
}

.p_character_big{
    font-size: 36px;
    font-weight: 600;
}

.p_character_mini{
    font-size: 13px;
    font-weight: 400;
}

.wiki_button{
    margin: 2px auto;

    width: 135px;
    height: 50px;
    

    background-color: rgb(120, 120, 120);
    border: 2px solid rgb(80, 80, 80);
    border-radius: 3px;

    color: white;
    font-size: 18px;
    font-weight: 600;

    align-content: center;
    text-decoration: none;
}


.text-content {
    overflow: hidden;
    position: relative;    

    padding: 0 20px;

    --pseudo-bg-color: rgb(30, 30, 30);
}

.text-content::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 20px;
    background: linear-gradient(transparent, var(--pseudo-bg-color));
}

.text-content.expanded {
    max-height: none;
}
.text-content.expanded::after {
    display: none;
}
.read_more {
    cursor: pointer;
    color: rgb(150, 150, 150);
    margin-top: 3px;
    display: inline-block;
}



.lightbox-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    opacity: 0; 
    pointer-events: none;  /* пропускает события */
    transition: opacity .25s;
}

.lightbox-overlay.active {
    opacity: 1;
    pointer-events: auto;
}

.lightbox-overlay img {
    max-width: 90%;
    max-height: 90%;
    box-shadow: 0 8px 16px rgba(0,0,0,.7);
    border-radius: 4px;
}


.star-rating {
    display: flex; /* Чтобы звезды располагались в ряд */
    align-items: center;

    margin-top: -12px;
}

.star {
    cursor: pointer;
    font-size: 30px; /* Размер звезд */
    color: gray; /* Цвет пустой звезды */
    transition: color 0.2s ease; /* Плавный переход цвета при наведении */
    align-content: center;
}

.star-icon {
    font-size: 30px; /* Размер звезд */
    color: #ccc; /* Цвет пустой звезды */
    transition: color 0.2s ease; /* Плавный переход цвета при наведении */
    align-content: center;
}

.star.hovered {
    color: #ffd700; /* Цвет звезды при наведении */
}

.star.selected {
    color: #ff9900; /* Цвет выбранной звезды */
}


.star-display {
    display: flex; /* Чтобы звезды располагались в ряд */
    margin-top: -10px;
}

.star_display_item {
    font-size: 30px; /* Размер звезд */
    color: #ccc; /* Цвет пустой звезды по умолчанию */
}

.star-display .star_display_item.filled {
    color: #ff9900; /* Цвет заполненной (желтой) звезды */
}

.season_info{
    padding: 0 15px;
}

.comment_user_image{
    width: 75px; 
    height: 75px;

    border-radius: 100px;
}


/* - - - - Login - - - - */
.login_container{
    width: 25%;
    min-width: 350px;
    max-width: 450px;

    margin: 15px auto;
}

.login_form{
    display: flex;
    flex-direction: column;

    row-gap: 15px;

    text-align: center;

    color: rgb(200, 200, 200);
}

.login_form_row{
    display: flex;
    flex-direction: column;

    text-align: center;
}

.error{
    color: rgb(200, 0, 0);
}

.auth_button{
    border: 1px solid rgb(80, 80, 80);
    border-radius: 3px;

    margin: 0 auto;
    padding: 3px 3px;
    
    width: 100px;

    font-size: 20px;
    font-weight: 600;
    color: rgb(200, 200, 200);

    background: rgb(60, 60, 60);
}

.auth_form_input{
    width: 100%;

    padding: 3px 10px;

    border-radius: 10px;
    border: 1px solid rgb(80, 80, 80);

    color: #c8c8c8;  

    background: rgb(60, 60, 60);
}



.create_user_button{
    width: 100%;
    height: auto;

    text-align: center;
}

.create_user{
    margin: 10px 10px;
    text-align: center;
}

.login_status_bar{
    text-align: center;
    align-items: center;

    display: flex;

    column-gap: 15px;
}

.login_status_bar_text{
    color: white;

    margin-bottom: 0; 
    font-size: 22px; 
    
    padding: 2px 10px 0 10px; 
    
    text-decoration: none; 
    text-align: center;
}


/* ------- PROFILE -------- */
.profile_container_header{
    display: flex;
    flex-direction: row;

    background-color: #1e1e1e;
    
    border: 1px solid #3c3c3c;
    border-radius: 10px;

    padding: 15px 15px;
}

.profile_container_header_block{
    display: flex;
    flex-direction: column;
    width: 50%;

    font-size: 20px;
    font-weight: 400;
}

.change_button{}

.profile_container_header_block_info_flex{
    display: flex;
    flex-direction: row;

    align-items: center;
}

.profile_button_change_password{
    width: 160px;
    height: 35px;

    padding-top: 2px;

    font-size: 16px;
}

.profile_container_favourites{
    display: flex;
    flex-direction: column;
}

.profile_container_favourites_block{
    display: flex;
    flex-direction: column;

    row-gap: 10px;
}

.profile_container_favourites_block_comment{
    display: flex;

    width: 100%;
    min-width: 400px;

    column-gap: 20px;
    padding: 10px 10px;

    background-color: rgb(40, 40, 40);

    border: 1px solid rgb(60, 60, 60);
    border-radius: 10px;
}

/* ------ AVATAR CROP -------- */
.avatar-modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.avatar-modal {
    background-color: rgb(30, 30, 30);

    padding: 20px;

    border-radius: 8px;
    border: 3px solid rgb(60, 60, 60);

    box-shadow: 0 0 10px rgba(0,0,0,0.3);

    width: 90%;
    max-width: 600px;

    text-align: center;
}
.avatar-modal h2 {
    margin-top: 0;
}
.avatar-modal img {
    max-width: 100%;
    display: block; /* Убирает лишние отступы под изображением */
    margin: 0 auto; /* Центрирование изображения */
}
.modal-controls {
    margin-top: 20px;
}
.modal-controls input[type="file"]::-webkit-file-upload-button {
    visibility: hidden;
    width: 0;
    padding-left: 120px;
}

.modal-controls button, .modal-controls input[type="file"] {
    margin: 3px;
    padding: 10px 15px;
    cursor: pointer;
    border: 2px solid rgb(100, 100, 100);
    border-radius: 8px;
    background-color: rgb(60, 60, 60);

    color: rgb(200, 200, 200);

    align-content: center;
}
.modal-controls button:hover, .modal-controls input[type="file"]:hover {
    background-color: rgb(80, 80, 80);
}
.modal-controls input[type="file"] {
    display: inline-block;
}

.cropper-container {
    margin-top: 20px; /* Отступ от элементов управления */
}



.you_container{
    display: flex;
    flex-direction: row;

    margin-bottom: 15px;
    column-gap: 10px;
}

.you_container_dop{
    display: flex;
    flex-direction: column;
    
    row-gap: 10px;

    width: 50%;

    border: 1px solid rgb(80, 80, 80);
    border-radius: 3px;
    padding: 10px 10px;
    background-color: rgb(50, 50, 50);
}

.you_container_dop_block{
    display: flex;
    flex-direction: column;
}

.you_container_dop_block_header{
    display: flex; 
    column-gap: 50px;
}

.you_container_dop_block_text{
    padding: 3px 10px;

    border: 1px solid rgb(120, 120, 120);
    border-radius: 3px;

    background-color: rgb(80, 80, 80);

    color: rgb(200, 200, 200);
}

.you_comment_container{
    display: flex;
    flex-direction: column;

    width: auto;
    height: 300px;

    border: 1px solid grey;
    border-radius: 10px;
    background-color: rgb(230, 230, 230);
}

.you_container_text_container{
    width: 100%;
    height: 200px;

    border: 1px solid rgb(120, 120, 120);
    border-radius: 3px;

    background-color: rgb(80, 80, 80);

    color: rgb(200, 200, 200);

    padding: 10px 10px;
}

.you_container_button{
    margin: 2px 0;

    width: 150px;
    height: 50px;

    background-color: rgb(120, 120, 120);

    border: 2px solid rgb(80, 80, 80);
    border-radius: 3px;

    color: white;

    font-size: 18px;
    font-weight: 600;

    align-content: center;
    text-decoration: none;
}

.you_container_button_delete{
    margin: 2px 0;

    width: 150px;
    height: 50px;

    background-color: rgb(100, 0, 0);

    border: 2px solid rgb(30, 0, 0);
    border-radius: 3px;

    color: white;

    font-size: 18px;
    font-weight: 600;

    align-content: center;
    text-decoration: none;

    text-align: center;
}





.all_comments_container{
    display: flex;
    flex-direction: column;

    row-gap: 50px;
}

.all_comments_dop_line{
    width: 2px;

    margin: 0 40px 0 35px;

    background-color: rgb(100, 100, 100);
}

.all_comments_container_block{
    width: 100%; 
    min-width: 400px;
}

.all_comments_container_block_header{
    display:flex;

    column-gap: 25px;

    padding: 3px 3px;
}

.all_comments_container_block_header_block{
    display:flex;
    
    column-gap: 25px;
}

.all_comments_container_block_header_username{
    font-size: 20px;

    margin-bottom: 0;

    align-content: center;
}

.comments_container{
    display: flex;

    background-color: gray;

    width: 100%;
    height: auto;

    border: 1px solid rgb(120, 120, 120);
    border-radius: 3px;

    background-color: rgb(80, 80, 80);

    color: rgb(200, 200, 200);

    padding: 10px 10px;
    margin-bottom: 10px;
}

.comment_answer{
    height: auto;
}

.comment_buttons{
    display: flex;
    
    height: 25px;

    padding-left: 10px;
    margin-bottom: 10px;
}

.comment_buttons_button{
    cursor: pointer;
    transition: 0.15s;
}

.comment_buttons_button:hover{
    filter: invert(60%) sepia(0%) saturate(0%) hue-rotate(50deg) brightness(50%) contrast(100%);
}

.comment_buttons_button_otvet{
    padding: 0 15px;

    border: 1px solid  rgb(30, 30, 30);
    border-radius: 10px;

    color: rgb(200, 200, 200);
    background-color: #3c3c3c;
    border-radius: 3px;

    opacity: 1;
}

.comment_textarea_otvet{
    width: 400px;
    height: auto;
    min-height: 100px;

    display: none;
}

.comment_textarea_otvet_header{
    display: flex;

    width: 100%;
    height: 35px;

    align-items: center;
    justify-content: space-between;
}

.comment_textarea_otvet_header_button{
    padding: 0 15px;

    border: 1px solid rgb(30, 30, 30);
    border-radius: 10px;

    color: rgb(200, 200, 200);

    background-color: #3c3c3c;
}

.comment_textarea_otvet_textarea{
    width: 100%;
    height: 100px;
    min-height: 100px;

    padding: 2px 5px;

    background-color: rgb(60, 60, 60);

    border: 2px solid rgb(20, 20, 20);
    border-radius: 10px;

    color: rgb(200, 200, 200);
}

.likes-positive {
    color: green;
    padding-right: 3px;
}

.likes-negative {
    color: red;
    padding-right: 3px;
}

.likes-zero {
    color: rgba(0, 0, 0, 0);
}

.activebtn {
    filter: brightness(0) saturate(100%) invert(39%) sepia(0%) saturate(0%) hue-rotate(218deg) brightness(97%) contrast(92%);
}