{% extends 'main/base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% load static %}
{% block content %}
    <div class="container_b">
        <div class="posts_filter">
            <h3>Все произведения по тегу: {{ tag }}</h3>

            <div class="filter_blocks_grid" style="width: auto; margin-top: 0; margin-bottom: 0;">
                <svg onclick="ChangeGrid('block')" id='block' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="grid_buttons active">
                    <path d="M0 72C0 49.9 17.9 32 40 32H88c22.1 0 40 17.9 40 40v48c0 22.1-17.9 40-40 40H40c-22.1 0-40-17.9-40-40V72zM0 232c0-22.1 17.9-40 40-40H88c22.1 0 40 17.9 40 40v48c0 22.1-17.9 40-40 40H40c-22.1 0-40-17.9-40-40V232zM128 392v48c0 22.1-17.9 40-40 40H40c-22.1 0-40-17.9-40-40V392c0-22.1 17.9-40 40-40H88c22.1 0 40 17.9 40 40zM160 72c0-22.1 17.9-40 40-40h48c22.1 0 40 17.9 40 40v48c0 22.1-17.9 40-40 40H200c-22.1 0-40-17.9-40-40V72zM288 232v48c0 22.1-17.9 40-40 40H200c-22.1 0-40-17.9-40-40V232c0-22.1 17.9-40 40-40h48c22.1 0 40 17.9 40 40zM160 392c0-22.1 17.9-40 40-40h48c22.1 0 40 17.9 40 40v48c0 22.1-17.9 40-40 40H200c-22.1 0-40-17.9-40-40V392zM448 72v48c0 22.1-17.9 40-40 40H360c-22.1 0-40-17.9-40-40V72c0-22.1 17.9-40 40-40h48c22.1 0 40 17.9 40 40zM320 232c0-22.1 17.9-40 40-40h48c22.1 0 40 17.9 40 40v48c0 22.1-17.9 40-40 40H360c-22.1 0-40-17.9-40-40V232zM448 392v48c0 22.1-17.9 40-40 40H360c-22.1 0-40-17.9-40-40V392c0-22.1 17.9-40 40-40h48c22.1 0 40 17.9 40 40z"></path>
                </svg>
                <svg onclick="ChangeGrid('big_block')" id='big_block' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="grid_buttons">
                    <path d="M224 80c0-26.5-21.5-48-48-48H80C53.5 32 32 53.5 32 80v96c0 26.5 21.5 48 48 48h96c26.5 0 48-21.5 48-48V80zm0 256c0-26.5-21.5-48-48-48H80c-26.5 0-48 21.5-48 48v96c0 26.5 21.5 48 48 48h96c26.5 0 48-21.5 48-48V336zM288 80v96c0 26.5 21.5 48 48 48h96c26.5 0 48-21.5 48-48V80c0-26.5-21.5-48-48-48H336c-26.5 0-48 21.5-48 48zM480 336c0-26.5-21.5-48-48-48H336c-26.5 0-48 21.5-48 48v96c0 26.5 21.5 48 48 48h96c26.5 0 48-21.5 48-48V336z"></path>
                </svg>
                <svg onclick="ChangeGrid('line')" id='line' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="grid_buttons">
                    <path d="M64 144a48 48 0 1 0 0-96 48 48 0 1 0 0 96zM192 64c-17.7 0-32 14.3-32 32s14.3 32 32 32H480c17.7 0 32-14.3 32-32s-14.3-32-32-32H192zm0 160c-17.7 0-32 14.3-32 32s14.3 32 32 32H480c17.7 0 32-14.3 32-32s-14.3-32-32-32H192zm0 160c-17.7 0-32 14.3-32 32s14.3 32 32 32H480c17.7 0 32-14.3 32-32s-14.3-32-32-32H192zM64 464a48 48 0 1 0 0-96 48 48 0 1 0 0 96zm48-208a48 48 0 1 0 -96 0 48 48 0 1 0 96 0z"></path>
                </svg>
            </div>
        </div>
        
        <div class="catalog_alt main_items_background">
            <div id="products_catalog" class="products_catalog">    
                {% if products %}                                
                    {% for element in products %}                 
                        <form action="{% url 'card' product_name=element.name %}" method="GET" class="fade-in">
                            <input type="hidden" name="product_name" value="{{ element }}">

                            <div class="prod_element" onclick="this.closest('form').submit();">
                                {% if element.image %}
                                    {% if element.image.name %}
                                        <div class="prod_element_pic_lock"><img src="{{ element.image.url }}" style="width: 100%"></div>
                                    {% elif element.image %}
                                        <div class="prod_element_pic_lock"><img src="{{ element.image.url }}" style="width: 100%"></div>
                                    {% else %}
                                        <div class="prod_element_pic_lock"><img src="{{ element.image }}" style="width: 100%"></div>
                                    {% endif %}
                                {% elif element.alter_pic %}
                                    <div class="prod_element_pic_lock"><img src="{{ element.alter_pic.url }}" style="width: 100%"></div>
                                {% endif %}
                                <div class="prod_element_rating">
                                    <div class="prod_element_rating_block" style="
                                        background:
                                            {% if element.rating >= 8.0 %} linear-gradient(135deg, #a176ff, #6225ff)
                                            {% elif element.rating >= 6.0 %} linear-gradient(135deg, #bdc3c7, #4e5d6c)
                                            {% else %} linear-gradient(135deg, #3a3a44, #26262b) {% endif %};
                                        color: #ffffff;
                                        "> 
                                        <svg xmlns="http://w3.org" viewBox="0 0 100 100" width="14px" height="14px">
                                            <polygon points="50,8 62.5,38 95,38 68.5,57 78,87 50,68 22,87 31.5,57 5,38 37.5,38" 
                                                    fill="white" 
                                                    stroke="white" 
                                                    stroke-width="6" 
                                                    stroke-linejoin="round" />
                                        </svg>
                                        {{ element.rating }} 
                                    </div>
                                </div>
                                <div class="prod_element_info">
                                    <h5 style="padding-top: 5px"> {{ element.name }} </h5>
                                    <h8> {{ element.category }} / {{ element.season.year }}</h8>
                                    <br><br>
                                    <p class="hidden_description hidden"> {{ element.description|safe }} </p>
                                </div>
                            </div>
                        </form>
                    {% endfor %}
                {% else %}
                    <h4 style="margin-bottom: 0; padding: 50px 0;"> Ничего не найдено </h4>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}