<footer>
    <div class="footer-container">
        <div>
            <h3>Навигация</h3>
            <ul>
                <li><a href="{% url 'main' %}">Главная</a></li>
                <li><a href="{% url 'posts' %}">Публикации</a></li>
                {% if request.user.is_authenticated %}
                    <li><a href="{% url 'profile' %}">Личный кабинет</a></li>
                {% else %}
                    <li><a href="{% url 'Login' %}">Вход / Регистрация</a></li>
                {% endif %}
            </ul>
        </div>
        <div>
            <h3>Наши платформы:</h3>
            <ul>
                <li>
                    <img onclick="window.location.href='https://boosty.to/anime_guru'" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR92XYJYynldaAPjbPHxTmNe6KDm6wd7fN8Kw&s" style="width: 30px; height: 30px; overflow: hidden; object-fit: cover; border-radius: 5px; cursor: pointer;">
                    <a href="https://boosty.to/anime_guru" class="font18 bold">Boosty</a>
                </li>
            </ul>
        </div>
    </div>

    <!-- Обновленный блок CopyRight со ссылкой -->
    <div class="footer-bottom">
        <p>
            &copy; {% now "Y" %} <a href="{% url 'copyright' %}" target="_blank">AnimeGuru</a>. 
            Все права защищены. 
            | 
            <a href="{% url 'copyright' %}" target="_blank">Copyright Policy</a>
        </p>
    </div>
</footer>