{% extends 'main/base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% load static %}
{% block content %}
    <div class="posts_container_main main_items_background">
        {% if post.media %}
            <div class="post_card_image_block">
                <img src="{{ post.media.url }}" class="post_card_image">
            </div>
        {% endif %}

        <div class="post_card_text_block fade-in">
            <h6 class="dark_gray_font">Заголовок</h6>
            <h2>{{ post.title }}</h2>
        </div>
        <div class="post_card_text_block fade-in">
            <h6 class="dark_gray_font">Текст</h6>
            <h4>{{ post.text }}</h2>
        </div>
        <div class="post_card_text_block">
            <hr>
            <div class="post_card_comment_block fade-in">
                <h6 class="dark_gray_font"> Все комментарии </h6>
                <h2> Ваш комментарий </h2>
            </div>

            {% if your_comment == None %}
                <form id="you_container_form" method="POST" action="{% url 'add_comment' post_id=post.id %}" style="display: flex; flex-direction: column;">
                    {% csrf_token %}

                    <textarea class="post_card_comment_textarea" placeholder="Напишите свой комментарий..." name="text" required></textarea>
                    <button class="you_container_button"> Добавить </button>
                </form>
            {% else %}
                <form id="you_container_form" method="POST" action="{% url 'edit_comment' post_id=post.id %}">
                    {% csrf_token %}

                    <textarea class="you_container_text_container" type="text" placeholder="Добавьте комментарий" name="text">{{ your_comment.text }}</textarea>
                    <div style="display: flex; column-gap: 10px">
                        <a class="you_container_button_delete"  href="{% url 'delete_comment' post_id=post.id id=your_comment.id %}"> Удалить </a>
                        <button class="you_container_button"> Изменить </button>
                    </div>
                </form>
            {% endif %}
            
            {% if comments and comments != None %}
                <div class="all_comments_container">
                    {% for element in comments %}
                        {% if element.locateZ == 0 %}
                            <div id="{{ element.id }}" class="all_comments_container_block">
                                <div class="all_comments_container_block_header">
                                    <div class="all_comments_container_block_header_block">
                                        {% if element.user.profile.image and element.user.profile.image != 'avatars/null_avatar.png' %}
                                            <img src="{{ element.user.profile.image }}" class="comment_user_image">
                                        {% else %}
                                            <img src="{% static "/img/null_avatar.png" %}" class="comment_user_image">
                                        {% endif %}
                                    </div>
                                    <p class="all_comments_container_block_header_username"> {{ element.user.username }} </p>
                                </div>
                                <div class="comments_container">
                                    {{ element.text }}
                                </div>
                                <div class="comment_buttons"> 
                                    <span id="like_count_{{ element.id }}" style="padding-right: 5px; color: 
                                    {% if element.net_likes > 0 %} green 
                                    {% elif element.net_likes < 0 %} red 
                                    {% else %} white 
                                    {% endif %};">
                                        {{ element.net_likes }} 
                                    </span>

                                    <form class="comment_buttons" id="comment-{{ element.id }}" style="padding-left: 0;" action="{% url 'comment' comment_id=element.id %}" method="POST">
                                        {% csrf_token %}
                                        {% if element.my_state == 2 %}
                                            <img class="comment_buttons_button" src="{% static '/img/active_like.png' %}" 
                                                value="{{ element.like_count }}" 
                                                id="like_button_{{ element.id }}"
                                                data-comment-id="{{ element.id }}"
                                                data-action="like">
                                        {% else %}
                                            <img class="comment_buttons_button" src="{% static '/img/like.png' %}" 
                                                value="{{ element.like_count }}" 
                                                id="like_button_{{ element.id }}"
                                                data-comment-id="{{ element.id }}"
                                                data-action="like">
                                        {% endif %}

                                        {% if element.my_state == 1 %}
                                            <img class="comment_buttons_button" src="{% static '/img/active_dislike.png' %}"
                                                value="{{ element.dislike_count }}"
                                                id="dislike_button_{{ element.id }}"
                                                data-comment-id="{{ element.id }}"
                                                data-action="dislike">
                                        {% else %}
                                            <img class="comment_buttons_button" src="{% static '/img/dislike.png' %}"
                                                value="{{ element.dislike_count }}"
                                                id="dislike_button_{{ element.id }}"
                                                data-comment-id="{{ element.id }}"
                                                data-action="dislike">
                                        {% endif %}
                                    </form>

                                    {% if request.user.is_authenticated %}
                                        <div class="comment_answer">
                                            <button class="comment_buttons_button_otvet" value="{{ element2 }}"> Ответить </button>
                                            <form id="form" class="comment_textarea_otvet" method='POST' action="{% url 'add_comment' post_id=post.id %}">
                                                {% csrf_token %}
                                                <div class="comment_textarea_otvet_header">
                                                    <h4 class="font18" style="margin-bottom: 0;">Комментарий</h4>
                                                    <button type="submit" class="comment_textarea_otvet_header_button"> Отправить </button>
                                                </div>
                                                <input type="hidden" name="parentId" value="{{ element.id }}"></input>
                                                <input type="hidden" name="rating" value="0"></input>
                                                <textarea name="text" class="comment_textarea_otvet_textarea"></textarea>
                                            </form> 
                                        </div>
                                    {% endif %}
                                </div>
        
                               
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% else %}
                <div style="width: 100%; height: 300px; text-align: center; align-content: center;">
                    <h3> Пока нет комментариев </h3>
                </div>
            {% endif %}
        </div> 
    </div>
{% endblock %}